# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IDEs
*.iml
*.ipr
*.iws
.idea/
.VSCodeCounter/

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies

# Node dependencies related
node_modules/
package-lock.json
pnpm-lock.yaml
yarn.lock

# Conventional directory for build outputs.
build/

# Omit committing pubspec.lock for library packages; see
# https://dart.dev/guides/libraries/private-files#pubspeclock.
pubspec.lock

# Playground for testing with local files.
playground/
